body{

margin:0;
font-family:Arial;

background:linear-gradient(180deg,#2f73ff,#1d9fc2);

display:flex;
justify-content:center;

min-height:100vh;

color:white;

}

/* container */

.container{

width:350px;
padding-top:40px;
text-align:center;

}

/* title */

.title{

font-size:28px;
font-weight:bold;

}

.title-line{

width:60px;
height:4px;
background:#7fd6ff;
margin:10px auto 30px auto;
border-radius:5px;

}

/* add contact box */

.add-box{

background:#071a33;

padding:20px;

border-radius:18px;

margin-bottom:25px;

box-shadow:0 0 20px rgba(0,255,255,0.2);

display:flex;
flex-direction:column;
gap:10px;

}

/* inputs */

.add-box input{

padding:10px;

border-radius:8px;

border:1px solid #3d6df5;

background:#0b2344;

color:white;

font-size:13px;

}

/* button */

.add-box button{

background:#00c8ff;

border:none;

padding:10px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}

/* contact list */

.contact{

background:#071a33;

border-radius:15px;

padding:15px;

margin-bottom:15px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 0 15px rgba(0,255,255,0.15);

}

/* name */

.contact-info{

text-align:left;

}

.contact-info span{

display:block;

font-size:12px;

opacity:0.8;

}

/* action buttons */

.actions button{

border:none;

padding:6px 10px;

border-radius:6px;

cursor:pointer;

margin-left:5px;

}

.call{

background:#00ff9d;

}

.delete{

background:#ff4d4d;

color:white;

}
.back-btn{

position:absolute;

top:20px;
left:20px;

width:35px;
height:35px;

background:black;
color:white;

border:none;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:14px;

cursor:pointer;

box-shadow:0 0 10px rgba(0,0,0,0.4);

}